		/*** Mixins & Default Styles ***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Norms',sans-serif;
}
@font-face {
  font-family: 'Norms'; 
  src: url(/fonts/TTNorms-Bold.ttf); 
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
}
 ::-webkit-scrollbar {
 background: black;
 width: 6px;
}
::-webkit-scrollbar-thumb {
 background-color: #555;
 box-shadow: inset 0 0 2px #333;
 border-radius: 3px;
}
::-webkit-scrollbar-corner {
 background: transparent;
}
/*** Color Variables ***/
/*** Centering Hack ***/
/*** Header Styles ***/
header {
  width: 100vw;
  height: 100vh;
  background: #000;
  display: -webkit-box;
  display: flex;
}

/*** Navigation Styles ***/
nav {
  width: 100vw;
  height: 130px;
  /*background: #1e211f;*/
   background: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  z-index: 10;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
nav.navShadow {
  box-shadow: 0 4px 30px -5px #0e3e8d;
  height: 100px;
     z-index: 1000!important;
}
nav.navShadow #word-mark {
  opacity: 0;
}

#brand,
#menu,
ul {
  display: -webkit-box;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
          align-items: center;
}
nav #menu ul li:last-child a {
  display: flex;
}
nav #menu ul li:last-child:after {
  display: none;
}
#brand {
  padding-left: 40px;
}

#logo {
  width: 55px;
  cursor: pointer;
}
#logo img {
  width: 60px;
}
#word-mark {
 color: white;
 font-size: 30px;
  margin-left: 20px;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/*** Menu Styles ***/
#menu {
  -webkit-box-pack: end;
          justify-content: flex-end;
  padding-right: 40px;
}

li {
  margin-left: 20px;
  position: relative;
  padding-bottom: 3px;}
li:after {
    content: '';
    position: absolute;
    left: 0;
    bottom:-4px;
    width: 100%;
    height: 4px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #09123c), color-stop(1.00, #0e3e8d));
 background: -webkit-linear-gradient(#09123c, #0e3e8d);
 background: -moz-linear-gradient(#09123c, #0e3e8d);
 background: -o-linear-gradient(#09123c, #0e3e8d);
 background: -ms-linear-gradient(#09123c, #0e3e8d);
 background: linear-gradient(#09123c, #0e3e8d)
   
}
li:hover:after {
   transition: 0.3s;
      box-shadow: 0 1px 10px 2px #447edd;
}
li a {
  display: block;
  color:white;
  white-space: nowrap;
  text-decoration: none;
  font-size: 20px;
}

#menu-toggle {
  width: 55px;
  height: 55px;
  /*background: black;*/ background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #09123c), color-stop(1.00, #0e3e8d));
 background: -webkit-linear-gradient(#09123c, #0e3e8d);
 background: -moz-linear-gradient(#09123c, #0e3e8d);
 background: -o-linear-gradient(#09123c, #0e3e8d);
 background: -ms-linear-gradient(#09123c, #0e3e8d);
 background: linear-gradient(#09123c, #0e3e8d);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}
#menu-toggle:hover .bar {
  width: 25px;
}
#menu-toggle.closeMenu .bar {
  width: 25px;
}
#menu-toggle.closeMenu .bar:first-child {
  -webkit-transform: translateY(7px) rotate(45deg);
          transform: translateY(7px) rotate(45deg);
}
#menu-toggle.closeMenu .bar:nth-child(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
}
#menu-toggle.closeMenu .bar:last-child {
  -webkit-transform: translateY(-7px) rotate(-45deg);
          transform: translateY(-7px) rotate(-45deg);
}

.bar {
  width: 25px;
  height: 2px;
  background: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.bar:nth-child(2) {
  width: 20px;
  margin: 5px 0;
}
.bar:last-child {
  width: 15px;
}

/*** Hero Section Styles ***/
#hero-section {
  width: 100vw;
  height: calc(100vh - 130px);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  margin-top: 130px;
  display: flex;
  color: white;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#hero-section .title {
  font-size: 110px;
  margin-bottom: 20px;
}
#hero-section .normal {
  font-size: 35px;
}
/*** Section Styles ***/
section {
  width: 100vw;
  height: calc(100vh - 100px);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}
section:nth-child(odd) {
  background:#0e0e0e;
  box-shadow: 3px 0px 0px 0px;
}
section:nth-child(even) {
  background: black;
}

#heading {
  width: 120px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  margin-top: 40px;
}
.about_section {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.about_section .normal {
  line-height: 42px;
  margin-top: 15px;
  text-align: center;
}
.about_section .title {
 font-size: 30px;  
 margin:20px 0;
}
.about_sub {
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
}
.about_sub .items {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  justify-content: space-around;
}
.about_sub .items .item img {
  width: 200px;
}
.about_sub .items .item {
  margin: 20px 0px;
}
.about_sub .items .item p {
  font-size: 20px;
  max-width: 250px;
  margin: 10px 0;
}
.about_sub .items .item .description {
      font-size: 13px;
    color: #a5a5a5;
}
.about_sub .title {
  color:white;
 font-size: 30px;   
 margin-top:100px;
 margin-bottom: 7%;
}
/*** Responsive Menu For Smaller Device ***/
@media screen and (max-width: 900px) {
  #menu-toggle {
    display: -webkit-box;
    display: flex;
  }

  ul {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
    height: 0;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #09123c), color-stop(1.00, #0e3e8d));
    background: -webkit-linear-gradient(#09123c, #0e3e8d);
    background: -moz-linear-gradient(#09123c, #0e3e8d);
    background: -o-linear-gradient(#09123c, #0e3e8d);
    background: -ms-linear-gradient(#09123c, #0e3e8d);
    background: linear-gradient(#09123c, #0e3e8d);
    position: absolute;
    top: 135px;
    left:0;
    -webkit-transform: translate(, );
            transform: translate(, );
    box-shadow: 0 5px 30px -4px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  ul.showMenu {
    height: 250px;
        padding-top: 10px;
  }
  ul.showMenu li:after {
    display: none;
  }
  ul.showMenu li {
    margin: 10px 0;
    opacity: 1;
    visibility: visible;
  }

  li {
    width: 50%;
    height: 80px;
    float: left;
    padding-left: 40px;
    opacity: 0;
    visibility: hidden;
    margin-left: 0;
    -webkit-transition: all 0.3s 0.1s;
    transition: all 0.3s 0.1s;
  }

  #head-line {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
.btn {
    margin-top:40px;
    position: relative;
    display: inline-block;
    width: 277px;
    height: 50px;
    font-size: 1em;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
    font-size:17px;
    letter-spacing: 0.045em;
}

.btn svg {
    position: absolute;
    top: 0;
    left: 0;
}

.btn svg rect {
    stroke: linear-gradient(to right,  black 0%, #0e3e8d 100%);
    stroke-width: 4;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
}

.btn span{
  background: white;
  color:white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 196, 543;
    stroke-dashoffset: 437;
}
#youtube {
  position: fixed;
  right: 2vw;
  bottom: 2vh;
  font-size: 30px;
  color: #fff;
}
.sounds {
  display: flex;
  flex-direction: column;
  align-items: center;
  color:white!important;
}
.sounds h3 {
  text-align: center;
  margin-top: 30px;
  color: white;
}
.sounds .items {
  width: 80%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.sounds .items .item {
  background-size: cover;
  position: relative;
  background-position: center center;
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
  margin: 20px;
  height: 200px;
    transition: 0.2s linear;
}
.sounds .items .item .shadow {
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  background: black;
  opacity: 0.8;
}
.sounds .items .item .active {
   transition: 0.2s linear;
}
.sounds .items .item.active p {
   color: black!important;
}
.sounds .items .item p {
  position: absolute; top: 10%; left: 10%;
  color: white;
  font-size: 30px;
  z-index: 999;
}
.sounds .not_active .shadow{
  transition: 0.2s linear;
}
.sounds .items .item:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 30px 1px white;
  border-radius: 10px;
}
.sounds .items .forest.active{
  transition: 0.2s linear;
  box-shadow: 0 5px 30px 1px #c2efa7;
  border-radius: 10px;
}
.sounds .items .forest.active .shadow {
  opacity: 0.6!important;
  background: #c2efa7;
}
.sounds .items .campfire.active{
  transition: 0.2s linear;
  box-shadow: 0 5px 30px 1px #eb8e7a;
  border-radius: 10px;
}
.sounds .items .campfire.active .shadow {
  opacity: 0.6!important;
  background: #eb8e7a;
}
.sounds .items .birds.active{
  transition: 0.2s linear;
  box-shadow: 0 5px 30px 1px #f5f18f;
  border-radius: 10px;
}
.sounds .items .birds.active .shadow {
  opacity: 0.6!important;
  background: #f5f18f;
}
.sounds .items .beach.active{
  transition: 0.2s linear;
  box-shadow: 0 5px 30px 1px #5ae3ff;
  border-radius: 10px;
}
.sounds .items .beach.active .shadow {
  opacity: 0.6!important;
  background: #5ae3ff;
}
.sounds .items .rain.active{
  transition: 0.2s linear;
  box-shadow: 0 5px 30px 1px #b4e4fc;
  border-radius: 10px;
}
.sounds .items .rain.active .shadow {
  opacity: 0.6!important;
  background: #b4e4fc;
}
.sounds .items .wind.active{
  transition: 0.2s linear;
  box-shadow: 0 5px 30px 1px #44facc;
  border-radius: 10px;
}
.sounds .items .wind.active .shadow {
  opacity: 0.6!important;
  background: #44facc;
}
.sounds .items .train.active{
  transition: 0.2s linear;
  box-shadow: 0 5px 30px 1px #ef8188;
  border-radius: 10px;
}
.sounds .items .train.active .shadow {
  opacity: 0.6!important;
  background: #ef8188;
}
.sounds .items .crickets.active{
  transition: 0.2s linear;
  box-shadow: 0 5px 30px 1px #d6c1ef;
  border-radius: 10px;
}
.sounds .items .crickets.active .shadow {
  opacity: 0.6!important;
  background: #d6c1ef;
}
.sounds .items .thunder.active{
  transition: 0.2s linear;
  box-shadow: 0 5px 30px 1px #bbc8e1;
  border-radius: 10px;
}
.sounds .items .thunder.active .shadow {
  opacity: 0.6!important;
  background: #bbc8e1;
}
.sounds .items .river.active{
  transition: 0.2s linear;
  box-shadow: 0 5px 30px 1px #8a8842;
  border-radius: 10px;
}
.sounds .items .river.active .shadow {
  opacity: 0.6!important;
  background: #8a8842;
}
.sounds .items .active>.shadow {
    transition: 0.2s linear;
  opacity: 0!important;
}
/*Arrow*/
.arrow-down {
    margin: 30px;
}
.arrow-down span {
       display: block;
    width: 23px;
    /* background: linear-gradient(#09123c, #0e3e8d); */
    height: 23px;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    transform: rotate(45deg);
    margin: -9px;
    animation: arrow-down 2s infinite;
}
.arrow-down span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow-down span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes arrow-down {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-10px,-10px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(10px,10px);
    }
}
video {
      width: 200px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    z-index: 0;
}
.about_sub .items .jump{position:relative;-webkit-animation:jump 4s ease-in-out infinite;animation:jump 4s ease-in-out infinite}.puls{-webkit-animation:puls 3s ease-in-out infinite;animation:puls 3s ease-in-out infinite}.bounce{-webkit-animation:bounce 4s ease-in-out infinite;animation:bounce 4s ease-in-out infinite}.play-rotate{-webkit-animation:play-rotate 3s infinite;animation:play-rotate 3s infinite}.bg-animation{-webkit-animation:bg-animation 25s ease-in-out infinite;animation:bg-animation 25s ease-in-out infinite}@-webkit-keyframes jump{0%{top:10px}50%{top:-10px}100%{top:10px}}@keyframes jump{0%{top:10px}50%{top:-10px}100%{top:10px}}
.about_sub .items .item .jump:nth-child(2n) {
  position:relative;
  -webkit-animation:jump 2s ease-in-out infinite;
  animation:jump 2s ease-in-out infinite;
}
@media screen and (max-width: 1800px) { 
    .sounds {
    height: auto;
    padding: 35px 0;
  }
  .normal {
    max-width: 95%;
  }
  .about_sub {
    height: auto;
  }
}
@media screen and (max-width: 900px) { 
  .about_section {
    height: auto;
    padding: 35px 0;
  }
  .sounds {
    height: auto;
    padding: 35px 0;
  }
  #hero-section .title {
    font-size: 84px;
}
#hero-section .normal {
    font-size: 29px;
}
.about_section .normal {
    line-height: 30px;
    margin-top: 15px;
    text-align: center;
}
    .sounds .items {
      width: 96%;
    }
    .about_sub .title {
      margin-top: 35px;
    }
  .normal {
    max-width: 95%;
  }
  .about_sub {
    height: auto;
  }
  video {
    width: 150px;
  }
  .sounds .items .item {
    width: 150px;
    height: 150px;
  }
  .sounds .items .item .shadow {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 380px) {
  #word-mark {
    display: none;
  }
  #hero-section .title {
    font-size: 68px;
}
#hero-section .normal {
    font-size: 25px;
}
}
